Cython==0.29.23
Deprecated==1.2.13
Deprecated==1.2.14
Janome==0.4.1
Janome==0.5.0
Jinja2==3.0.3
Jinja2==3.1.4
MarkupSafe==2.0.1
MarkupSafe==2.1.5
Pillow==9.0.1
PyNaCl==1.5.0
PyPDF2==1.26.0
PySocks==1.7.1
PyYAML==6.0
PyYAML==6.0.1
Wand==0.6.7
Wikipedia-API==0.5.4
Wikipedia-API==0.6.0
aiohttp==3.8.1
aiosignal==1.2.0
analytics-python==1.4.0
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
backoff==1.10.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
boto3==1.34.117
botocore==1.34.117
bpemb==0.3.3
bpemb==0.3.5
certifi==2021.10.8
certifi==2024.2.2
cffi==1.15.0
cffi==1.16.0
chardet==4.0.0
charset-normalizer==2.0.11
charset-normalizer==3.3.2
click==8.0.3
colorama==0.4.4
coloredlogs==15.0.1
conllu==4.4.1
conllu==4.5.3
contourpy==1.2.1
cryptography==36.0.1
cryptography==42.0.7
cycler==0.11.0
cycler==0.12.1
doc2text==0.2.4
docx==0.2.4
fastapi==0.73.0
ffmpy==0.3.0
filelock==3.14.0
filelock==3.4.2
flair==0.10
flair==0.13.1
flatbuffers==2.0
fonttools==4.29.1
fonttools==4.53.0
frozenlist==1.3.0
fsspec==2024.5.0
ftfy==6.0.3
ftfy==6.2.0
future==0.18.2
gdown==3.12.2
gdown==5.2.0
gensim==4.1.2
gensim==4.3.2
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlibaccelerate==0.30.1
gradio==2.7.5.2
h11==0.13.0
huggingface-hub==0.23.2
huggingface-hub==0.4.0
humanfriendly==10.0
idna==3.3
idna==3.7
importlib-metadata==3.10.1
jmespath==1.0.1
joblib==1.1.0
joblib==1.4.2
kiwisolver==1.3.2
kiwisolver==1.4.5
konoha==4.6.5
langdetect==1.0.9
lxml==5.2.2
markdown2==2.4.2
matplotlib==3.5.1
matplotlib==3.9.0
mime==0.1.0
monotonic==1.6
more-itertools==10.2.0
more-itertools==8.8.0
mpld3==0.3
mpld3==0.5.10
mpmath==1.3.0
multidict==6.0.2
networkx==3.3
numpy==1.23.3
numpy==1.26.4
openai
overrides==3.1.0
packaging==21.3
packaging==24.0
pandas==1.4.0
paramiko==2.9.2
pdfminer.six==20211012
pdfminer.six==20231228
pdfplumber==0.11.0
pdfplumber==0.6.0
pillow==10.3.0
pptree==3.1
protobuf==3.19.4
protobuf==5.27.0
psutil==5.9.0
psutil==5.9.8
py-cpuinfo==8.0.0
py3nvml==0.2.7
pycparser==2.21
pycparser==2.22
pycryptodome==3.14.1
pydantic==1.9.0
pydub==0.25.1
pyparsing==3.0.7
pyparsing==3.1.2
pypdfium2==4.30.0
pyreadline3==3.4.1
pytesseract==0.3.8
python-dateutil==2.8.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-multipart==0.0.5
pytorch_revgrad==0.2.0
pytz==2021.3
regex==2022.1.18
regex==2024.5.15
requests==2.27.1
requests==2.32.3
s3transfer==0.10.1
sacremoses==0.0.47
safetensors==0.4.3
scikit-learn
scikit-learn==1.5.0
scipy==1.10.1
scipy==1.7.3
segtok==1.5.11
semver==3.0.2
sentencepiece==0.1.95
sentencepiece==0.2.0
six==1.16.0
smart-open==5.2.1
smart-open==7.0.4
sniffio==1.2.0
soupsieve==2.5
sqlite3
sqlitedict==1.7.0
sqlitedict==2.1.0
starlette==0.17.1
sympy==1.12.1
tabulate==0.8.9
tabulate==0.9.0
threadpoolctl==3.1.0
threadpoolctl==3.5.0
tokenizers==0.10.3
tokenizers==0.19.1
torch==1.10.2
torch==2.3.0
tqdm==4.62.3
tqdm==4.66.4
transformer-smaller-training-vocab==0.4.0
transformers==4.15.0
transformers==4.41.2
typing_extensions==4.0.1
typing_extensions==4.12.0
urllib3==1.26.18
urllib3==1.26.8
uvicorn==0.17.4
wcwidth==0.2.13
wcwidth==0.2.5
wincertstore==0.2
wrapt==1.13.3
wrapt==1.16.0
xmltodict==0.12.0
yarl==1.7.2
zipp==3.7.0
